.cityInfo {
    width: 300px;
    margin: 10px;
}

.cityContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.addItemForm {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .addItemForm {
        display: flex;
        justify-content: center;
    }
}
