.cityContainer {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 3rem;
    /*row-gap: 4rem; works in 68% of browsers*/
    /*column-gap: 5rem; works in 68% of browsers*/
}


@media (max-width: 768px) {
    .addItemForm {
        display: flex;
        justify-content: center;
    }
}
