.cityContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 2rem;
  /*row-gap: 4rem; works in 68% of browsers*/
  /*column-gap: 5rem; works in 68% of browsers*/
}

.emptyContainer {
  display: flex;
  /*place-items: center; didn't properly justify-content */
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 600;
  flex: 1;
}

@media (max-width: 48em) {
  .addItemForm {
    display: flex;
    justify-content: center;
  }

  .cityContainer {
    justify-content: center;
  }
}
