.modalTitle {
    font-weight: 500;
    color: #333333;
    letter-spacing: -0.5px;
    font-size: 2.4rem;
}

.modalButtonsContainer {
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}

.modalButtonsContainer button {
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .modalButtonsContainer {
        gap: 4rem;
    }
}