.link {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
}

.card {
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  padding: 2.4rem 3.6rem;
  transition: all 400ms;
  min-width: 30rem;
}

.card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/*.button {*/
/*    box-sizing: border-box;*/
/*    align-items: center;*/
/*    background: linear-gradient(270.32deg, rgba(0, 226, 255, 0.62) -4.89%, rgba(0, 142, 238, 0.62) 85.28%), #008EEE;*/
/*    border: 2px solid #149589;*/
/*    color: white;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    text-decoration: none;*/
/*    border-radius: 10px;*/
/*    font-family: Poppins, sans-serif;*/
/*    font-style: normal;*/
/*    line-height: 27px;*/
/*    font-weight: 600;*/
/*    font-size: 18px;*/
/*    width: 100%;*/
/*}*/

/*.button:hover {*/
/*    background: linear-gradient(270.32deg, rgba(0, 142, 238, 0.62) -4.89%, rgba(0, 226, 255, 0.62) 104.98%), #008EEE;*/
/*}*/
