.container {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    padding: 40px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 768px) {
    .modal {
        padding: 32px;
        gap: 24px;
    }

}