.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    max-width: 360px;
    gap: 24px;
}

.header button {
    margin-left: auto;
}

.cityTitle {
    font-size: 32px;
    color: #333333;
    font-weight: 600;
    word-break: break-word;
}