.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.4rem;
  max-width: 36rem;
}

.header button {
  position: static;
}

.header button svg {
  font-size: 2.4rem;
}
