.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8rem;
}

.errorText {
    text-align: center;
    margin-top: 16rem;
}

.link {

}

.link:hover {
    cursor: pointer;
    color: purple;
}

@media (max-width: 48em) {
    .errorText {
        margin-top: 12rem;
    }
}