.container {
  display: flex;
  margin: 3rem 0;
  align-items: center;
}

.textField label,
.textField input,
.textField span {
  font-size: 1.6rem;
}

.textField p {
  font-size: 0.9rem;
}

.button svg {
  font-size: 3.2rem;
}
